.days {
  width: 1870px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 30px 25px;
}

.day {
  width: 260px;
  height: 250px;
  border: 1px solid #000000;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0 0 9px;
  margin-right: 2px;
  margin-top: 2px;
}

.day-action {
  background-color: #ebffff;
}

.day-action > .day-textarea {
  background-color: #ebffff;
}

.unactive {
  background-color: #efeded;
  padding-top: 34px;
}

.unactive > .day-textarea {
  display: none;
}

.unactive > .day-header {
  display: none;
}

.day-textarea {
  width: 240px;
  height: 195px;
  font-size: 20px;
  margin-top: 10px;
  resize: none;
  padding-left: 5px;
}

.day-textarea:focus {
  outline: none;
}

.day-header {
  display: flex;
}

.day-remove-icon {
  margin: 9px 0 0 210px;
  cursor: pointer;
}

.unactive-icon {
  display: none;
}

.required {
  background-color: #b7ffff;
}

.required > .day-textarea {
  background-color: #b7ffff;
}
